<div class="container-fluid my-3 px-5">
    <article class="educacion text-bg-light p-3 rounded pb-1">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-10">
                    <h4>Educación</h4>
                </div>
                <div class="col-2 div_add">
                  <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>



        <div class="container-fluid my-4">
            <div class="row my-4" *ngFor="let educacion of educaciones">
                <div class="col-2">
                   <img src="{{educacion.imgEdu}}" alt="logo-institucion" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-educacion">
                   <h5 class="educacion-titulo">{{educacion.title}}</h5>
                   <p class="educacion-detalle">{{educacion.detail}}</p>
                   <p class="educacion-fecha-inicio" style="display:inline">{{educacion.start}}</p> <p style="display:inline">-</p>
                   <p class="educacion-fecha-finalizacion" style="display:inline">{{educacion.end}}</p>
                   <p class="institucion">{{educacion.institution}}</p>
                </div>
                <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div>
            </div>
        </div>




        <!-- <div class="container-fluid my-4">
            <div class="row">
                <div class="col-2">
                   <img src="../../../assets/UTN_logo.jpg" alt="logo-utn" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-educacion">
                   <h5 class="educacion-titulo">Licenciado en Organización Industrial</h5>
                   <p class="educacion-detalle">Completo</p>
                   <p class="educacion-fecha-inicio" style="display:inline">1999</p> <p style="display:inline">-</p>
                   <p class="educacion-fecha-finalizacion" style="display:inline">2003</p>
                   <p class="institucion">Universidad Tecnológica Nacional - Facultad Regional Concepción del Uruguay</p>
                </div>
                <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div>
            </div>
        </div> -->




    </article>
</div>
