<!-- Modal -->
<!-- <div class="modal fade" id="educationForm" tabindex="-1" aria-labelledby="addEduLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addEduLabel">Educación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form novalidate #f="ngForm" [formGroup]="educationForm" (ngSubmit)="onSubmit(educationForm.value.id)">
                  <input type="hidden" formControlName="id" name="id">

                  <div class="row mb-3">
                      <label for="title" class="col-sm-2 col-form-label">Titulo</label>
                      <div class="col-sm-10">
                        <input type="text" name="title" formControlName="title" class="form-control" required>
                      </div>
                  </div>

                  <div class="row mb-3">
                    <label for="detail" class="col-sm-2 col-form-label">Detalle</label>
                    <div class="col-sm-10">
                      <input type="text" name="detail" formControlName="detail" class="form-control" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="start" class="col-sm-2 col-form-label">Año Comienzo</label>
                    <div class="col-sm-10">
                      <input type="start" name="start" formControlName="start" class="form-control" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="end" class="col-sm-2 col-form-label">Año Fin</label>
                    <div class="col-sm-10">
                      <input type="end" name="end" formControlName="end" class="form-control" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="institution" class="col-sm-2 col-form-label">Institución</label>
                    <div class="col-sm-10">
                      <input type="text" name="institution" formControlName="institution" class="form-control" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="imgEdu" class="col-sm-2 col-form-label">Imagen institución</label>
                    <div class="col-sm-10">
                      <input type="text" name="imgEdu" formControlName="imgEdu" class="form-control" required>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
</div> -->



<!-- <div>

  <div class="text-center">
    <button type="button" class="btn btn-success" >
      <a class="nav-link" style="color:aliceblue">
        agregar educacion<span class="sr-only"> (current)</span>

        (click)="onOpenModal('add')"

      </a>
    </button>
  </div>

</div> -->



<div class="container-fluid my-3 px-5" id="main-container">
    <article class="educacion text-bg-light p-3 rounded pb-1">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between ">
                <div class="col-10 mb-3">
                    <h4>Educación</h4>
                </div>
                <!-- <button type="button" class="btn btn-outline-info float-right" clas="main-container" (click)="onOpenModal(null!, 'add')">Agregar nueva educación</button> -->
                    <div *ngIf="isUserLogged" class="col-2 div_add p-0" (click)="onOpenModal(null!, 'add')">
                        <button class="btn btn-right" data-toggle="modal"><i class="fa fa-plus"></i></button>
                    </div>

                    <!-- (click)="onNewEducation()" -->



                        <!-- VA LUEGO DE "btn btn-right" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onNewEducation()"> -->
                
                <!-- <div class="col-2 div_add">
                  <i class="fa-solid fa-plus"></i>
                </div> -->
            </div>
        </div>



        <div class="container-fluid my-4">
            <div class="row my-4" *ngFor="let educacion of educaciones">
                <div class="col-3 col-sm-2">
                   <img src="{{educacion.imgEdu}}" alt="logo-institucion" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 col-sm-8 descripcion-educacion">
                   <h5 class="educacion-titulo">{{educacion.title}}</h5>
                   <p class="educacion-detalle">{{educacion.detail}}</p>
                   <p class="educacion-fecha-inicio" style="display:inline">{{educacion.start}}</p> <p style="display:inline">-</p>
                   <p class="educacion-fecha-finalizacion" style="display:inline">{{educacion.end}}</p>
                   <p class="institucion">{{educacion.institution}}</p>
                </div>

                <div *ngIf="isUserLogged" class="data-control col-1 col-sm-2 d-inline-flex justify-content-end align-items-end flex-column p-0 m-0">
                    
                    <div class="btn-edit">
                        <button class="btn btn-right" data-toggle="modal" (click)="onOpenModal(educacion, 'edit')"><i class="fa fa-pen"></i></button>
                         
                        <!-- (click)="onOpenModal('edit', educacion)" -->
                        
                        <!-- VA LUEGO DE "modal"  data-bs-target="#educationForm" (click)="onEditEducation(i)" -->
                    </div>
                    <div class="btn-edit">
                        <button class="btn btn-right" (click)="onOpenModal(educacion, 'delete')"><i class="fa fa-trash"></i></button>
                        
                        <!-- (click)="onOpenModal('delete', educacion)" -->
                        
                        
                        <!-- VA LUEGO DE "btn btn-right"  (click)="onDeleteEducation(i)" -->
                    </div>

                        <!-- <div class="col-2 div_deladd">
                            <ul>                         
                                <li><i class="fa-solid fa-trash"></i></li>                            
                                <li><i class="fa-solid fa-pen"></i></li> 
                            </ul>
                        </div> -->
                </div>
            </div>
        </div>




        <!-- <div class="container-fluid my-4">
            <div class="row">
                <div class="col-2">
                   <img src="../../../assets/UTN_logo.jpg" alt="logo-utn" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-educacion">
                   <h5 class="educacion-titulo">Licenciado en Organización Industrial</h5>
                   <p class="educacion-detalle">Completo</p>
                   <p class="educacion-fecha-inicio" style="display:inline">1999</p> <p style="display:inline">-</p>
                   <p class="educacion-fecha-finalizacion" style="display:inline">2003</p>
                   <p class="institucion">Universidad Tecnológica Nacional - Facultad Regional Concepción del Uruguay</p>
                </div>
                <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div>
            </div>
        </div> -->

        <!-- Notificación para cuando no hay Estudios cargados -->
        <div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
            <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">SIN ESTUDIOS QUE MOSTRAR!</h4>
            <p>No se encontraron estudios cargados. Pruebe cargar uno :)</p>
            </div>
        </div>


    </article>



</div>


<!-- Modal Agregar -->

<!-- Add Modal -->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEducationModalLabel">Agregar Estudio</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" ngModel name="title" class="form-control" id="title" placeholder=""
                        required>
                </div>
                <div class="form-group">
                  <label for="detail">Detalle</label>
                  <input type="text" ngModel name="detail" class="form-control" id="detail" placeholder=""
                      required>
              </div>
                <div class="form-group">
                    <label for="start">Año inicio</label>
                    <input type="text" ngModel name="start" class="form-control" id="start"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="end">Año fin</label>
                    <input type="text" ngModel name="end" class="form-control" id="end"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="institution">Institución</label>
                    <input type="text" ngModel name="institution" class="form-control" id="institution" placeholder=""
                        required>
                </div>
                <div class="form-group">
                    <label for="imgEdu">Imagen Inst</label>
                    <input type="text" ngModel name="imgEdu" class="form-control" id="imgEdu"
                        placeholder="" required>
                </div>
            <div class="modal-footer">
               <button type="button" id="add-education-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Guardar cambios</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>



<!-- Modal Editar -->

<!-- Edit Modal -->

<div class="modal fade" id="editEducationModal" tabindex="-1" aria-labelledby="editEducationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEducationModalLabel">Editar {{editEducacion?.title}}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="title">Estudio</label>
                        <input type="text" ngModel="{{editEducacion?.title}}" name="title" class="form-control"
                            id="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="detail">Detalle</label>
                        <input type="text" ngModel="{{editEducacion?.detail}}" name="detail" class="form-control"
                            id="detail" placeholder="Detail">
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id"
                        placeholder="Id">
                    <div class="form-group">
                        <label for="start">Año inicio</label>
                        <input type="text" ngModel="{{editEducacion?.start}}" name="start" class="form-control"
                            id="start" placeholder="Start">
                    </div>
                    <div class="form-group">
                        <label for="yearGra">Año Fin</label>
                        <input type="text" ngModel="{{editEducacion?.end}}" name="end" class="form-control"
                            id="end" placeholder="End">
                    </div>
                    <div class="form-group">
                        <label for="institution">Institución</label>
                        <input type="text" ngModel="{{editEducacion?.institution}}" name="institution" class="form-control"
                            id="institution" placeholder="Institution">
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" ngModel="{{editEducacion?.imgEdu}}" name="imgEdu" class="form-control"
                            id="imgEdu" placeholder="ImgEdu">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button (click)="onUpdateEducation(editForm.value)" data-dismiss="modal"class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<!-- Modal Borrar -->

<!-- Delete Modal -->







<!-- <div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="editEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="editEducationModalLabel">Editar Estudio {{editEducacion?.title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" ngModel="{{editEducacion?.title}}" class="form-control" id="title" placeholder="Title">
                </div>
                <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id"
                        placeholder="Id">
                <div class="form-group">
                  <label for="detail">Detalle</label>
                  <input type="text" ngModel="{{editEducacion?.detail}}" class="form-control" id="detail" placeholder="Detail">
              </div>
                <div class="form-group">
                    <label for="start">Año inicio</label>
                    <input type="text" ngModel="{{editEducacion?.start}}" class="form-control" id="start"
                        placeholder="Start">
                </div>
                <div class="form-group">
                    <label for="end">Año fin</label>
                    <input type="text" ngModel="{{editEducacion?.end}}" class="form-control" id="end"
                        placeholder="End">
                </div>
                <div class="form-group">
                    <label for="institution">Institución</label>
                    <input type="text" ngModel name="institution" class="form-control" id="institution" placeholder="Institution">
                </div>
                <div class="form-group">
                    <label for="imgEdu">Imagen Inst</label>
                    <input type="text" ngModel="{{editEducacion?.imgEdu}}" class="form-control" id="imgEdu"
                        placeholder="ImgEdu">
                </div>
            <div class="modal-footer">
               <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
               <button (click)="onUpdateEducation(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Guardar cambios</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducationModalLabel">Agregar Educación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                    <div class="form-group">
                        <label for="title">Titulo</label>
                        <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title"
                            required>
                    </div>
                    <div class="form-group">
                      <label for="detail">Detalle</label>
                      <input type="text" ngModel name="detail" class="form-control" id="detail" placeholder="Detail"
                          required>
                  </div>
                    <div class="form-group">
                        <label for="start">Año inicio</label>
                        <input type="text" ngModel name="start" class="form-control" id="start"
                            placeholder="Start" required>
                    </div>
                    <div class="form-group">
                        <label for="end">Año fin</label>
                        <input type="text" ngModel name="end" class="form-control" id="end"
                            placeholder="End" required>
                    </div>
                    <div class="form-group">
                        <label for="institution">Institución</label>
                        <input type="text" ngModel name="institution" class="form-control" id="institution" placeholder="Institution"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="imgEdu">Imagen Inst</label>
                        <input type="text" ngModel name="imgEdu" class="form-control" id="imgEdu"
                            placeholder="ImgEdu" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-education-form" class="btn btn-outline-primary"
                            data-bs-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-info"
                            data-bs-dismiss="modal">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->



<!-- Modal Editar -->

<!-- <div class="modal fade" id="editEducationModal" tabindex="-1" aria-labelledby="editEducationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEducationModalLabel">Editar {{editEducacion?.title}}</h5>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" ngModel="{{editEducacion?.title}}" name="title" class="form-control"
                            id="title" placeholder="Title">
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id"
                        placeholder="Id">
                    <div class="form-group">
                        <label for="detail">Detail</label>
                        <input type="text" ngModel="{{editEducacion?.detail}}" name="detail" class="form-control"
                            id="detail" placeholder="Detail">
                    </div>
                    
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input type="text" ngModel="{{editEducacion?.start}}" name="start" class="form-control"
                            id="start" placeholder="Start">
                    </div>
                    <div class="form-group">
                        <label for="end">End</label>
                        <input type="text" ngModel="{{editEducacion?.end}}" name="end" class="form-control"
                            id="end" placeholder="End">
                    </div>
                    
                    <div class="form-group">
                        <label for="institution">Institution</label>
                        <input type="text" ngModel="{{editEducacion?.institution}}" name="institution" class="form-control"
                            id="institution" placeholder="Institution">
                    </div>
                    <div class="form-group">
                        <label for="imgEdu">ImgEdu</label>
                        <input type="text" ngModel="{{editEducacion?.imgEdu}}" name="imgEdu" class="form-control"
                            id="imgEdu" placeholder="ImgEdu">
                    </div>
                    <div class="modal-footer">



                        <button type="button" id="" data-bs-dismiss="modal"
                            class="btn btn-outline-primary">Cerrar</button>
                        
                        
                            <button (click)="onUpdateEducacion(editForm.value.id, editForm.value.educacion)" data-bs-dismiss="modal"
                            class="btn btn-outline-info">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->





<div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-labelledby="deleteEducationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar {{deleteEducacion?.title}}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Seguro que quiere eliminar {{deleteEducacion?.title}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteEducation(deleteEducacion.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>