.footer{
    text-align: center;
    background-color: white;
    color: #666;
    border-top: 1px solid #ddd;
    box-shadow: 0 0px 8px rgba(0,0,0,0.1);
  }

.footer a{
    color: #666;
    font-weight: bold;;
  }


  

  /* border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1); */