<div class="container-fluid my-3 px-5">
    <article class="experiencia text-bg-light p-3 rounded">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-10 mb-3">
                    <h4>Experiencia</h4>
                </div>
                <div class="col-2 div_add">
                  <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                   <img src="../../../assets/Logo-TOTVS.jpg" alt="logo-totvs" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-experiencia">
                   <h5 class="experiencia-cargo">Consultor Funcional de Sistemas</h5>
                   <p class="experiencia-detalle">Implementación de proyectos ERP - lider de proyectos</p>
                   <p class="experiencia-fecha-inicio" style="display:inline">2006</p> <p style="display:inline">-</p>
                   <p class="experiencia-fecha-finalizacion" style="display:inline">2008</p>
                   <p class="experiencia-localidad">Ciudad de Buenos Aires, CABA</p>
                </div>
               
                <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>

