<div class="container-fluid my-3 px-5">
    <article class="experiencia text-bg-light p-3 rounded pb-1">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-10 mb-3">
                    <h4>Experiencia</h4>
                </div>
                <div *ngIf="isUserLogged" class="col-2 div_add">
                    <button class="btn btn-right" data-bs-toggle="modal"><i class="fa fa-plus"></i></button>
                    <!-- <i class="fa-solid fa-plus"></i> -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row my-4" *ngFor="let experiencia of experiencias">
                <div class="col-2">
                   <img src="{{experiencia.imgExp}}" alt="logo-experiencia" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-experiencia">
                   <h5 class="experiencia-puesto">{{experiencia.position}}</h5>
                   <p class="experiencia-descripcion">{{experiencia.description}}</p>
                   <p class="experiencia-anio-inicio" style="display:inline">{{experiencia.start}}</p> <p style="display:inline">-</p>
                   <p class="experiencia-anio-finalizacion" style="display:inline">{{experiencia.end}}</p>
                   <p class="experiencia-empresa">{{experiencia.organization}}</p>
                </div>
               
                <div *ngIf="isUserLogged" class="data-control col-2 d-inline-flex justify-content-end align-items-end flex-column p-0 m-0">
                    <div class="btn-edit">
                        <button class="btn btn-right" data-bs-toggle="modal" ><i class="fa fa-pen"></i></button>
                    </div>
                    <div class="btn-edit">
                        <button class="btn btn-right" ><i class="fa fa-trash"></i></button>
                    </div>
                </div>


                <!-- <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div> -->


            </div>
        </div>
    </article>
</div>

