
.experiencia{
    margin-top: 1em;    
    padding: 1em;
    
}

.descripcion-experiencia h5{
    margin: 0px;
}

.descripcion-experiencia p{
    margin: 0px;
}

.add{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 40px;
    
}

.delete{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
}

.div_add{
    padding: 0;
    text-align: right;
}

.div_deladd{
    padding: 0;
    
}

.div_deladd ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    float:right;
    justify-content: flex-end;
    gap: 1rem;
}

.div_deladd ul li{
    list-style-type: none;
}