<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=New+Tegomin&display=swap" rel="stylesheet">




<div class="container-fluid my-3 px-4">
        <div class="col-12 portada">
            <h2>Bienvenido a mi portfolio</h2>
        </div>
</div>
   



<!-- 
<div id="banner">
    <img src="../../../assets/ocean-2791952.jpg" alt="Banner">
    col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4 bg-white
</div> -->

<!-- <div class="container my-3">
    div class="row">
        <div class="portada">
            <div class="content-fluid">
                <h2>Bienvenido a mi portfolio</h2>
            </div>
        </div>
    </div>
</div> -->