<div class="container-fluid my-3 px-5">
    <article class="educacion text-bg-light p-3 rounded">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-10 mb-4">
                    <h4>Hard & Soft Skills</h4>
                </div>
                <div class="col-2 div_add">
                  <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                   <img src="https://logosave.com/images/small/common/02/universidad-de-buenos-aires-vector-logo.png" alt="logo-experiencia" class="img-thumbnail img-logo-responsive"/>
                </div>
                <div class="col-8 descripcion-educacion">
                   <h5 class="educacion-titulo">Licenciado en Administración</h5>
                   <p class="educacion-detalle">Completo</p>
                   <p class="educacion-fecja-inicio" style="display:inline">2008</p> <p style="display:inline">-</p>
                   <p class="educacion-fecha-finalizacion" style="display:inline">2013</p>
                   <p class="institucion">Universidad de Buenos Aires - Facultad de Ciencias Económicas</p>
                </div>
               
                <div class="col-2 div_deladd">
                    <ul>                         
                        <li><i class="fa-solid fa-trash"></i></li>                            
                        <li><i class="fa-solid fa-pen"></i></li> 
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>

