
<div class="container-fluid my-3 px-5">
    <div class="row m-0 text-bg-light p-3 justify-content-center rounded">
        <div class="card perfil align-self-start text-center" style="width: 16rem;">
            <img src="{{persona.fotoPerfil}}" class="card-img-top" alt="Foto Luciano Sica">
            <div class="card-body">
                <h5 class="card-title">{{persona.nombre}} {{persona.apellido}}</h5>
                <p class="card-text-titulo">{{persona.titulo}}</p>
            </div> 
        </div>
        <div class="card acerca">
            <div class="card-body col align-self-start">
              <h5 class="card-title">Acerca de mi</h5>
              <p class="card-text-descripcion">{{persona.about}}</p>
            </div>    
        </div>

        <div *ngIf="isUserLogged" class="data-control">
            <div class="editar-perfil text-right float-right position-relative">
                <i class="fa-solid fa-pen position-absolute bottom-0 end-0"></i>
            </div>
        </div>
    </div>
</div>
