
<div class="container-fluid my-3 px-5">
    <div class="row m-0 text-bg-light p-3 justify-content-center rounded">
        <div class="card perfil align-self-start text-center" style="width: 16rem;">
            <img src="../../../assets/Imagen para portfolio.png" class="card-img-top" alt="Foto Luciano Sica">
            <div class="card-body">
                <h5 class="card-title">Luciano Leandro Sica</h5>
                <p class="card-text">Full Stack Developer Jr</p>
            </div> 
        </div>
        <div class="card acerca">
            <div class="card-body col align-self-start">
              <h5 class="card-title">Acerca de mi</h5>
              <p class="card-text">Apasionado por las nuevas tecnologías, los negocios digitales, la ciencia de datos y la inteligencia artificial. <br>
                Busco aprender nuevas herramientas que potencien mis conocimientos y habilidades.</p>
            </div>    
        </div>
        <div class="editar-perfil text-right float-right position-relative">
            <i class="fa-solid fa-pen position-absolute bottom-0 end-0"></i>
        </div>
    </div>
</div>
